*{
    font-family: 'Courier New', Courier, monospace;
}

section{
    float: left;
}

aside{
    height: 95%;
    float: right;
    border-left: 2px solid #555;
}

body{
    background-color: rgb(11, 0, 26);
}

h1, h2, h3, h4, h5, h6{
    font-size: xx-large;
    color: whitesmoke;
}

p{
    color: whitesmoke;
}

input{
    color: whitesmoke;
    padding: 6px 12px;    
    width: 80%;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgb(11, 0, 26);
    position: relative;
    
}

input:focus{
    border: 3px solid #ccc;
}

.border-animated{
    border-radius: 5%;
    border: 5px solid rgb(24, 0, 118);
    box-shadow: 0px 0px 20px rgb(24, 0, 118);
}

.div-center{
    position: relative;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 50%;
    background-color: rgb(26, 0, 63);
    text-align: center;
}

.Button-LogIn{
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    height: 10%;
    width: 75%;
    --clr: whitesmoke;
  --outline: 2px solid rgb(24, 0, 118);
  color: var(--clr);
  outline: var(--outline);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.Button-LogIn:hover{
    outline: var(--outline);
  outline-width: 8px;
  outline-offset: -8px;
}

.text-center{
    text-align: center;
}

.header{
    height: 5%;
}

.p-header-bold{
    font-size: large;
    font-weight: bolder;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.body{
    position: relative;
    left: 5%;
    width: 90%;
}